.title{
    font-family: 'Roboto', sans-serif; 
}

.hero {
  min-height: 95vh;
}

.description{
  width: 80%;
  margin: 0 auto;
  padding: 5px;
}

.rainbow-box {
  border-radius: 5px;
  height: 40px;
  width: 150px;
  color: black;
  border: none;
  background: linear-gradient(
    90deg,
    #ede0d4,
    #f9f9f9
  );
}

@media only screen and (min-width: 678px){
  .hero {
    display: flex;
  }

  .rainbow-box {
    position: absolute;
    left: 35%;
    margin: 0 auto;
  }

}

@media only screen and (min-width: 992px){

}