.title{
    font-family: 'Roboto', sans-serif;
    margin: 20px;
    font-size: 50px;
}

.color{
    height: 100px;
    width: 80px;
    display: inline-block
}

.color:hover{
    opacity: 0.7;
    cursor: pointer;
}

.colors{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.palette{
    margin: 15px;
}

.colorContainer{
    display: flex;
    margin: 20px;
}