.title{
    font-family: 'Roboto', sans-serif;
    margin: 20px;
    font-size: 50px;
    font-weight: bold;
}

.color{
    height: 100px;
    width: 80px;
    display: inline-block;
    writing-mode: vertical-lr;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
}

.color:hover{
    opacity: 0.7;
    cursor: pointer;
    color: black;
}

.colors{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.paletteContainer{
    display: inline-flex;
    flex-direction: column;
}

.palette{
    margin: 15px;
    display: inline-flex;
    flex-wrap: wrap;
}

.colorContainer{
    display: flex;
    margin: 20px;
}

.fa-heart:hover{
    color: red;
    font-size: 20px;
    cursor: pointer;
}