.colors{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.colorContainer{
    display: flex;
    margin: 20px;
}

.colorBlock1{
    background: red;
    width: 50px;
    height: 100px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    
}

.colorBlock2{
    background: orange;
    width: 50px;
    height: 100px;
}

.colorBlock3{
    background: green;
    width: 50px;
    height: 100px;
}

.colorBlock4{
    background: blue;
    width: 50px;
    height: 100px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.colorBlock1:hover, .colorBlock2:hover, .colorBlock3:hover, .colorBlock4:hover{
    opacity: 0.7;
    cursor: pointer;
}